.card {
    &__header {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 20rem;
        margin-bottom: 3rem;

        .icon {
            font-style: normal;
            font-size: 2rem;
        }

        .title {
            font-size: 2rem;
            font-weight: 600;
            color: #1a202c;
            text-transform: capitalize;
        }
    }

    &__skills {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
        width: calc(100% - 20rem);

        .skill {
            border-radius: 2rem;
            padding: 0.8rem 1.6rem;
            border: 1px solid var(--gray-300);
            background: var(--gray-100);
            transition: all 0.1s ease-in-out;

            &:hover {
                background: var(--pink-200);
                cursor: default;
            }
        }
    }
}
