.card {
    &:first-child {
        border-top: 1px solid var(--gray-700);
        margin-top: 2rem;
    }

    border-bottom: 1px solid var(--gray-700);
    padding: 2rem;

    display: flex;
    align-items: flex-start;

    &__header {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        width: 20rem;
        margin-bottom: 2.4rem;

        .icon {
            width: 2.4rem;
            height: 2.4rem;
        }

        .title {
            font-size: 2rem;
            font-weight: 600;
            color: #1a202c;
            text-transform: capitalize;
        }
    }

    &__skills {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
        width: calc(100% - 20rem);

        .skill {
            border-radius: 0.8rem;
            padding: 0.3rem 1.3rem;
            border: 1px solid var(--gray-400);
            background: var(--background);
        }
    }
}
