.page {
    text-align: center;

    h2 {
        font-size: 5rem;
        line-height: 1.2;
        margin-bottom: 5rem;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: normal;
    }
}
