// Button
.button {
    padding: 0.5rem 1rem;
    border: 1px solid var(--gray-700);
    border-radius: 2rem;
    font-weight: 500;
    background: white;
    cursor: pointer;

    &.primary {
        background: var(--highlight);
        color: white;
        border: none;
    }

    &:hover,
    &:active {
        background: var(--highlight);
        color: white;
        border: none;
    }
}

// Input
.input {
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--gray-200);
    border-radius: 4rem;
    width: 20rem;

    &:focus {
        outline: none;
        border-color: var(--highlight);
    }
}
