// Button
.button {
    padding: 0 1rem;
    border: 1px solid var(--gray-700);
    border-radius: 2rem;
    font-weight: 500;
    background: white;
    min-height: 3rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &.primary,
    &:hover,
    &:active {
        border: 1px solid var(--highlight);
        background: var(--highlight);
        color: white;
    }
}

// Input
.input {
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--gray-200);
    border-radius: 4rem;
    width: 20rem;

    &:focus {
        outline: none;
        border-color: var(--highlight);
    }
}
